html {
    background: linear-gradient(90deg, rgba(117, 197, 201, 1) 0%, rgba(246, 245, 249, 1) 100%, rgba(245, 245, 245, 1) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}